langchain
python-dotenv
langchain_community
ipykernel
beautifulsoup4
faiss-cpu
streamlit
langchain-groq
tiktoken
gradio
api
langchain-pinecone
pinecone-client
python-multipart
html5lib
tqdm
uvicorn[standard]
fastapi
requests
numpy
langchain_core
redis[async]
bleach